<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452149682816-m19bhhp0j7gc6hdh70dgumpiqqutkm19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452149682816-m19bhhp0j7gc6hdh70dgumpiqqutkm19</string>
	<key>API_KEY</key>
	<string>AIzaSyD94eqwLENkM6Q9XUKkRBYAUet8n-As1F4</string>
	<key>GCM_SENDER_ID</key>
	<string>452149682816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.Nibmevents</string>
	<key>PROJECT_ID</key>
	<string>nibmevents-4080f</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmevents-4080f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452149682816:ios:580d5c5bcf22a33f9dfc65</string>
	<key>DATABASE_URL</key>
	<string>https://nibmevents-4080f.firebaseio.com</string>
</dict>
</plist>